$TTL 86400
@               IN      SOA     xvdcendns01.xvinternal.com. xvinternal.com. (

                        2017012501      ; Serial Year,Month,Day,Version

                        21600           ; Refreash

                        1800            ; Retry

                        604800          ; Expire

                        86400           ; Minimum

                        )
 IN NS xvdcendns01.xvinternal.com.

1	IN PTR gateway.xvinternal.com
189	IN PTR xvdcendns01.xvinternal.com
150	IN PTR xvdcenvpn01.xvinternal.com
122	IN PTR xvdcencht01.xvinternal.com
168	IN PTR xvdrhlbug01.xvinternal.com
171	IN PTR xvdrhlosm01.xvinternal.com
210	IN PTR xvdrhlosn01.xvinternal.com
144	IN PTR xvdrhlosm02.xvinternal.com
110	IN PTR xvdrhlosn02.xvinternal.com
133 IN PTR xvdrhlosn03.xvinternal.com
