#!/bin/bash
appcode=$(hostname |cut -c8-10)
case $appcode in
  sat )
  application="Satellite"
    ;;

  cap )
  application="Satellite"
    ;;

  *)
  application="$appcode"
    ;;
esac
cat <<EOF
{
        "appcode" : "$application"
}
EOF
